<label>Search</label>
<input [(ngModel)]="filterDrzava"><br>
<table class = "table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Naziv Drzave</th>
    <th>Skracenica</th>
    <th>Akcija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let x of getPodaci()">
    <td>{{x.id}}</td>
    <td>{{x.nazivDrzave}}</td>
    <td>{{ x.skracenicaDrzave ?? "Not_Found" }}</td>
    <td><button (click)="odabranaDrzava = x" class="btn btn-info">Edit</button>
      <button (click)="Brisi(x.id)" class="btn btn-danger">Brisanje</button></td>
  </tr>
  </tbody>
</table>

<button (click)="NovaDrzava()" class="btn btn-primary">Dodaj</button>
<div *ngIf="odabranaDrzava != null">
  <Label>Naziv Drzave</Label>
  <input [(ngModel)]="odabranaDrzava.nazivDrzave">
  <Label>Skracenica Drzave</Label>
  <input [(ngModel)]="odabranaDrzava.skracenicaDrzave">
  <button class="btn btn-success" (click)="Snimi()">Snimi</button>
</div>
