<label>Search</label>
<input [(ngModel)]="filterDrzava"><br>
<table class = "table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Naziv Drzave</th>
    <th>Skracenica</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let x of PreuzmiPodatke()">
    <td>{{x.id}}</td>
    <td>{{x.nazivDrzave}}</td>
    <td>{{ x.skracenicaDrzave ?? "Not_Found" }}</td>
    <th><button (click)="odabranaDrzava = x" class="btn btn-info">Edit</button></th>
    <!---<th><button (click)="Brisi()" class="btn btn-danger">Brisanje</button></th>-->
  </tr>
  </tbody>
</table>

<button (click)="NovaDrzava()" class="btn btn-primary">Dodaj</button>
<div *ngIf="odabranaDrzava != null">
  <Label>Naziv Drzave</Label>
  <input [(ngModel)]="odabranaDrzava.nazivDrzave">
  <Label>Skracenica Drzave</Label>
  <input [(ngModel)]="odabranaDrzava.skracenicaDrzave">
  <button class="btn btn-success" (click)="Snimi()">Snimi</button>
</div>
