<label>Search</label>
<input [(ngModel)]="filterPredmet"><br>
<button type="button" class="btn btn-primary" (click)="PreuzmiPodatke()">Preuzmi podatke</button><br>
<table class = "table table-bordered">
  <thead>
  <tr>
    <th>Naziv</th>
    <th>Sifra</th>
    <th>Ects</th>
    <th>Prosjecna Ocjena</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of Podaci">
    <td>{{p.nazivPredmeta}}</td>
    <td>{{p.skracenicaPredmeta}}</td>
    <td>{{p.ectsPredmeta}}</td>
    <td>{{p.prosjecnaOcjena}}</td>
    <td><button type="button" class="btn btn-info" (click)="odabraniPredmet = p">Edit</button></td>
  </tr>
  </tbody>
</table>
<div *ngIf="odabraniPredmet != null">
  <label>Naziv Predmeta</label>
<input [(ngModel)]="odabraniPredmet.nazivPredmeta">
  <label>Sifra Predmeta</label>
<input [(ngModel)]="odabraniPredmet.skracenicaPredmeta">
  <label>ECTS Predmeta</label>
<input [(ngModel)]="odabraniPredmet.ectsPredmeta">
  <label>Prosjecna ocjena</label>
<input [(ngModel)]="odabraniPredmet.prosjecnaOcjena">
  <button type="button" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-danger">Delete</button>

</div>
