<label>Search</label>
<input [(ngModel)]="filterStudent"><br>
<table class = "table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Broj Indeksa</th>
    <th>Opstina</th>
    <th>Datum Rodjenja</th>
    <th>Datum Kreiranja</th>
    <th>Slika</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of podaci">
    <td>{{p.id}}</td>
    <td>{{p.ime}}</td>
    <td>{{p.prezime}}</td>
    <td>{{p.broj_indeksa}}</td>
    <td>{{p.opstina_rodjenja.description}}</td>
    <td>{{p.datum_rodjenja}}</td>
    <td>{{p.created_time}}</td>
    <td><img src="{{p.slika_studenta}}" style="width: 40px;height: 40px"/></td>
    <td><button type="button" class="btn btn-info" (click)="odabraniPredmet = p">Edit</button></td>
  </tr>
  </tbody>
</table>
<div *ngIf="odabraniPredmet != null">
  <label>Naziv Predmeta</label>
<input [(ngModel)]="odabraniPredmet.nazivPredmeta">
  <label>Sifra Predmeta</label>
<input [(ngModel)]="odabraniPredmet.skracenicaPredmeta">
  <label>ECTS Predmeta</label>
<input [(ngModel)]="odabraniPredmet.ectsPredmeta">
  <label>Prosjecna ocjena</label>
<input [(ngModel)]="odabraniPredmet.prosjecnaOcjena">
  <button type="button" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-danger">Delete</button>
</div>








"slika_studenta": "https://restapiexample.wrd.app.fit.ba/profile_images/empty.png"
