
<Label>Search</Label>
<input [(ngModel)]="filterPredmeti">
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Naziv Predmeta</th>
    <th>Skracenica Predmeta</th>
    <th>ECTS Predmeta</th>
    <th>Prosjecna Ocjena</th>
    <th>Akcija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of getPodatke()">
    <th>{{p.id}}</th>
    <th>{{p.nazivPredmeta}}</th>
    <th>{{p.sifraPredmeta}}</th>
    <th>{{p.ectsBodovi}}</th>
    <th>{{p.prosjecnaOcjena ?? "Nema"}}</th>
    <th><button (click)="odabraniPredmet = p" class="btn btn-info">Edit</button></th>
  </tr>
  </tbody>
</table>
<button (click)="NoviPredmet()">Dodaj Novi</button>
<div *ngIf="odabraniPredmet != null">
  <Label>Naziv Predmeta</Label>
  <input [(ngModel)]="odabraniPredmet.nazivPredmeta">
  <Label>Skracenica Predmeta</Label>
  <input [(ngModel)]="odabraniPredmet.sifraPredmeta">
  <Label>ECTS Predmeta</Label>
  <input [(ngModel)]="odabraniPredmet.ectsBodovi">
  <button class="btn btn-success" (click)="Snimi()">Snimi</button>
</div>



